<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/flowbased-polymer/mixin.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../bower_components/app-flow/app-flow-router.html">
<link rel="import" href="../bower_components/app-flow/app-flow.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<link rel="lazy-import" href="page-kalender.html">
<link rel="lazy-import" href="page-leistungen.html">
<link rel="lazy-import" href="page-patienten.html">
<link rel="lazy-import" href="page-patient-detail.html">
<link rel="lazy-import" href="page-statistiken.html">
<link rel="lazy-import" href="page-view404.html">
<link rel="import" href="toolbar-tabs.html">
<link rel="import" href="toolbar-julia.html">

<link rel="import" href="../bower_components/flowbased-polymer/inspect-flow.html">

<dom-module id="mobile-leistungserfassung">
    <template>
        <style>
            :host {
                --app-primary-color: #025297;
                --app-accent-color: #ffc911;
                --app-secondary-color: black;

                background-color: white;

                display: block;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            app-header-layout {
                background-color: white;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            app-toolbar iron-pages {
                width: 100%;
                height: 100%;
            }

            paper-dialog {
                position: fixed;
                top: 88px;
                left: 32px;
                width: 400px;
                height: 648px;
                overflow: auto;

                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            paper-dialog .paper-dialog-heading {
                background-color: var(--app-primary-color);
                color: white;
                height: 68px;
                margin: 0;
                padding: 32px 24px;
            }

            paper-dialog .paper-dialog-heading h2 {
                font-size: 28px;
                font-weight: normal;
                margin-top: 0;
                margin-bottom: 16px;
            }

            paper-dialog .paper-dialog-heading p {
                margin: 0;
            }

            paper-dialog .paper-dialog-scrollable {
                margin: 0;
                height: 100%;
                overflow: auto;
                padding-top: 16px;
            }

            paper-dialog paper-dialog-scrollable paper-button {
                color: var(--app-primary-color);
            }

            paper-dialog .buttons {
                height: 64px;
                margin: 0;
                padding: 16px 24px 32px;
            }

            paper-dialog .buttons paper-button {
                width: 104px;
                height: 36px;
            }

            paper-dialog .buttons paper-button[raised] {
                background-color: var(--app-accent-color);
            }

            .leistungs-input {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
            }

            .leistungs-input paper-autocomplete {
                width: 70%;
            }

            .leistungs-input paper-dropdown-menu {
                width: 15%;
                padding: 0 16px;
            }

            .leistungs-input paper-icon-button {
                opacity: 0.54;
            }

            .add-action {
                color: var(--app-primary-color);
                cursor: pointer;
                font-size: 14px;
                width: 200px;
                padding: 12px 0;
                font-weight: 500;
                text-transform: uppercase;
            }

            app-toolbar {
                height: 56px;
            }

            .profile {
                position: absolute;
                right: 0;
            }

            .profile iron-icon {
                color: white;
                vertical-align: baseline;
                margin-left: -5px;
            }

            .wegdemit {
                display: none;
            }
        </style>

        <app-location route="{{route}}" query-params="{{qp}}"></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>

        <app-flow-router id="router" config="[[conf]]" current="{{routeData.page}}" data="{{qp}}"
                         ƒ-check="--flow"></app-flow-router>

        <app-header-layout fullbleed has-scrolling-region>

            <app-header slot='header' condenses reveals effects='waterfall'>
                <app-toolbar>

                    <iron-pages selected="[[routeData.page]]" attr-for-selected="name"
                                @-app-flow="--flow">
                        <toolbar-tabs name="kalender" selected="[[routeData.page]]"></toolbar-tabs>
                        <toolbar-tabs name="leistungen" selected="[[routeData.page]]"></toolbar-tabs>
                        <toolbar-tabs name="patienten" selected="[[routeData.page]]"></toolbar-tabs>
                        <toolbar-tabs name="statistiken" selected="[[routeData.page]]"></toolbar-tabs>
                        <toolbar-julia name="patient-detail"></toolbar-julia>

                    </iron-pages>


                    <div class="profile">
                        <img src="../img/profile.png">
                        <iron-icon icon="arrow-drop-down"></iron-icon>
                    </div>
                </app-toolbar>
            </app-header>

            <iron-pages selected="{{routeData.page}}" attr-for-selected="name" fallback-selection="kalender" role="main"
                        @-open-dialog="--open-dialog" @-app-flow="--flow">
                <page-kalender name="kalender" termine="[[_termine]]"
                               selected-patient-index="{{_selectedPatientIndex}}"></page-kalender>
                <page-leistungen name="leistungen"></page-leistungen>
                <page-patienten name="patienten"></page-patienten>
                <page-patient-detail name="patient-detail"></page-patient-detail>
                <page-statistiken name="statistiken"></page-statistiken>
                <page-view404 name="view404"></page-view404>
            </iron-pages>

        </app-header-layout>

        <paper-dialog no-cancel-on-outside-click with-backdrop ƒ-open="--open-dialog" ƒ-close="--close-dialog">
            <div class="paper-dialog-heading">
                <h2>[[_currentTermin.patient]]</h2>
                <p>[[_currentTermin.grund]]</p>
                <p>[[_currentTermin.datum]], [[_currentTermin.start]] - [[_currentTermin.ende]]</p>
            </div>
            <div class="paper-dialog-scrollable">
                <iron-form id="leistung-form">
                    <form>
                        <template is="dom-repeat" items="[[_leistungen]]">
                            <div class="leistungs-input">
                                <paper-autocomplete required source="[[leistungskatalog]]" value="{{item.code}}"
                                                    highlight-first text-property="text" value-property="value">
                                    <template slot="autocomplete-custom-template">
                                        <!-- NOTICE: Due to shadow-dom, custom template styles need to be included with the template in Polymer 2.x -->
                                        <style>
                                            :host {
                                                display: block;
                                            }

                                            paper-item.leistung-item {
                                                padding: 8px 16px;
                                            }

                                            .leistung-text {
                                                color: #333;
                                            }

                                            .leistung-code {
                                                margin-top: 4px;
                                                color: #999;
                                            }
                                        </style>
                                        <paper-item class="leistung-item" on-tap="_onSelect"
                                                    id$="[[_getSuggestionId(index)]]" role="option"
                                                    aria-selected="false">
                                            <div>
                                                <div class="leistung-text">
                                                    <span class="leistung-code">[[item.value]]</span> - [[item.text]]
                                                </div>
                                            </div>
                                            <paper-ripple></paper-ripple>
                                        </paper-item>
                                    </template>


                                </paper-autocomplete>
                                <paper-dropdown-menu value="{{item.anzahl}}">
                                    <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0">
                                        <paper-item>1</paper-item>
                                        <paper-item>2</paper-item>
                                        <paper-item>3</paper-item>
                                        <paper-item>4</paper-item>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                                <paper-icon-button icon="delete" on-click="_deleteLeistung"></paper-icon-button>
                            </div>
                        </template>
                    </form>
                </iron-form>
                <div class="add-action" on-click="_addLeistung">
                    <iron-icon icon="add"></iron-icon>
                    Leistung hinzufügen
                </div>
            </div>

            <div class="buttons">
                <paper-button @-tap="--close-dialog" on-click="_resetData" dialog-dismiss>Abbrechen</paper-button>
                <paper-button disabled="[[_loading]]" on-click="_save" raised>
                    <paper-spinner class$="[[_hidden(_loading)]]" active="[[_loading]]"></paper-spinner>
                    <span hidden$="[[_loading]]">Fertig</span>
                </paper-button>
            </div>
        </paper-dialog>

        <iron-ajax url="[[postUrl]]" handle-as="json" content-type="application/json" ƒ-generate-request="--save-leistung"
                   method="POST" body="[[_dataForRequest]]" @-response="--close-dialog" on-response="_handleResponse"
                   loading="{{_loading}}"></iron-ajax>

    </template>

    <script>
        class MobileLeistungserfassung extends FBPMixin(Polymer.Element) {
            static get is() {
                return 'mobile-leistungserfassung';
            }

            static get properties() {
                return {
                    postUrl: {
                        type: String,
                       // value: "/save"
                        value: "https://jsonplaceholder.typicode.com/posts"
                    },
                    routeData: Object,
                    conf: {
                        type: Array,
                        value: function () {
                            return [
                                ["kalender", "toLeistungen", "leistungen", false],
                                ["kalender", "toPatienten", "patienten", false],
                                ["kalender", "toStatistiken", "statistiken", false],
                                ["leistungen", "toKalender", "kalender", false],
                                ["leistungen", "toPatienten", "patienten", false],
                                ["leistungen", "toStatistiken", "statistiken", false],
                                ["patienten", "toLeistungen", "leistungen", false],
                                ["patienten", "toKalender", "kalender", false],
                                ["patienten", "toStatistiken", "statistiken", false],
                                ["patienten", "toPatientDetail", "patient-detail", false],
                                ["patient-detail", "toPatienten", "patienten", false],
                                ["statistiken", "toLeistungen", "leistungen", false],
                                ["statistiken", "toKalender", "kalender", false],
                                ["statistiken", "toPatienten", "patienten", false]
                            ]
                        }
                    },
                    leistungskatalog: {
                        type: Array,
                        value: function () {
                            return [
                                {
                                    "value": "00.0010",
                                    "text": "Konsultation, erste 5 Min. (Grundkonsultation)"
                                }
                                ,
                                {
                                    "value": "00.0015",
                                    "text": "Zuschlag für hausärztliche Leistungen in der Arztpraxis"
                                }
                                ,
                                {
                                    "value": "00.0020",
                                    "text": "Konsultation, jede weiteren 5 Min. (Konsultationszuschlag)"
                                }
                                ,
                                {
                                    "value": "00.0030",
                                    "text": "Konsultation, letzte 5 Min. (Konsultationszuschlag)"
                                }
                                ,
                                {
                                    "value": "00.0040",
                                    "text": "Zuschlag für Kinder unter 6 Jahren"
                                }
                                ,
                                {
                                    "value": "00.0050",
                                    "text": "Vorbesprechung diagnostischer/therapeutischer Eingriffe mit Patienten/Angehörigen durch den Facharzt, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0060",
                                    "text": "Besuch, erste 5 Min. (Grundbesuch)"
                                }
                                ,
                                {
                                    "value": "00.0065",
                                    "text": "Besuchs-Inkonvenienzpauschale Mo-Fr 7-19, Sa 7-12"
                                }
                                ,
                                {
                                    "value": "00.0070",
                                    "text": "Besuch, jede weiteren 5 Min. (Besuchszuschlag)"
                                }
                                ,
                                {
                                    "value": "00.0080",
                                    "text": "Besuch, letzte 5 Min. (Besuchszuschlag)"
                                }
                                ,
                                {
                                    "value": "00.0090",
                                    "text": "Wegentschädigung, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0100",
                                    "text": "Patiententransport durch den Facharzt, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0110",
                                    "text": "Telefonische Konsultation durch den Facharzt, erste 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0120",
                                    "text": "Telefonische Konsultation durch den Facharzt, jede weiteren 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0130",
                                    "text": "Telefonische Konsultation durch den Facharzt, letzte 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0140",
                                    "text": "Ärztliche Leistung in Abwesenheit des Patienten (inkl. Aktenstudium), pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0150",
                                    "text": "Medikamentenverabreichung durch nichtärztliches Personal"
                                }
                                ,
                                {
                                    "value": "00.0155",
                                    "text": "Nichtärztliche Medikamentenabgabe zur Substitutionsbehandlung bei Opiatabhängigkeit"
                                }
                                ,
                                {
                                    "value": "00.0160",
                                    "text": "Überwachte Urinabgabe bei Alkohol-/Drogenpatienten durch nichtärztliches Personal"
                                }
                                ,
                                {
                                    "value": "00.0160",
                                    "text": "Überwachte Urinabgabe bei Alkohol-/Drogenpatienten durch nichtärztliches Personal"
                                }
                                ,
                                {
                                    "value": "00.0210",
                                    "text": "Betreuung des hospitalisierten Patienten durch den hauptverantwortlichen Facharzt, Kategorie A: Operation/Intervention/Wochenbett"
                                }
                                ,
                                {
                                    "value": "00.0220",
                                    "text": "Zuschlag für Kinder/Jugendliche bis 16 Jahre, Kategorie A"
                                }
                                ,
                                {
                                    "value": "00.0230",
                                    "text": "Betreuung des hospitalisierten Patienten durch den hauptverantwortlichen Facharzt, Kategorie B: Operation/Intervention/Wochenbett"
                                }
                                ,
                                {
                                    "value": "00.0240",
                                    "text": "Zuschlag für Kinder/Jugendliche bis 16 Jahre, Kategorie B"
                                }
                                ,
                                {
                                    "value": "00.0250",
                                    "text": "Betreuung des hospitalisierten Patienten durch den hauptverantwortlichen Facharzt, Kategorie C: Behandlung ohne Operation/Intervention/Geburt"
                                }
                                ,
                                {
                                    "value": "00.0260",
                                    "text": "Zuschlag für Kinder/Jugendliche bis 16 Jahre, Kategorie C"
                                }
                                ,
                                {
                                    "value": "00.0270",
                                    "text": "Betreuung des hospitalisierten Patienten durch eigenverantwortlich mitbehandelnden Facharzt, Kategorie E: mit oder ohne Operation/Intervention oder Wochenbett"
                                }
                                ,
                                {
                                    "value": "00.0310",
                                    "text": "Betreuung des hospitalisierten Patienten durch den hauptverantwortlichen Facharzt, Kategorie D: mit und ohne Operation/Intervention oder Wochenbett, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0320",
                                    "text": "Betreuung des hospitalisierten Patienten durch eigenverantwortlich mitbehandelnden Facharzt, Kategorie F: mit oder ohne Operation/Intervention oder Wochenbett, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0410",
                                    "text": "Kleine Untersuchung durch den Facharzt für Grundversorgung"
                                }
                                ,
                                {
                                    "value": "00.0420",
                                    "text": "Umfassende Untersuchung durch den Facharzt für Grundversorgung"
                                }
                                ,
                                {
                                    "value": "00.0430",
                                    "text": "Kleine rheumatologische Untersuchung durch den Facharzt für Rheumatologie, Physikalische Medizin und Rehabilitation"
                                }
                                ,
                                {
                                    "value": "00.0440",
                                    "text": "Umfassende rheumatologische Untersuchung durch den Facharzt für Rheumatologie, Physikalische Medizin und Rehabilitation"
                                }
                                ,
                                {
                                    "value": "00.0450",
                                    "text": "Spezielle Wachstumsbeurteilung durch den Facharzt für Endokrinologie, Kinder- und Jugendmedizin"
                                }
                                ,
                                {
                                    "value": "00.0460",
                                    "text": "Nachkontrolle des Lebendspenders, als alleinige Leistung"
                                }
                                ,
                                {
                                    "value": "00.0490",
                                    "text": "Kognitive Abklärung und Beratung"
                                }
                                ,
                                {
                                    "value": "00.0510",
                                    "text": "Spezifische Beratung durch den Facharzt für Grundversorgung, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0520",
                                    "text": "Psychotherapeutische/psychosoziale Beratung durch den Facharzt für Grundversorgung, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0525",
                                    "text": "Psychosomatische Einzeltherapie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0530",
                                    "text": "Genetische u/o pränatale Beratung durch den Facharzt, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0610",
                                    "text": "Instruktion von Selbstmessungen, Selbstbehandlungen durch den Facharzt, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.0710",
                                    "text": "Punktion, venös, zwecks Blutentnahme, jede Lokalisation (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0715",
                                    "text": "Punktion, venös, zwecks Blutentnahme, jede Lokalisation durch nichtärztliches Personal"
                                }
                                ,
                                {
                                    "value": "00.0716",
                                    "text": "Blutentnahme kapillär, jede Lokalisation durch nichtärztliches Personal"
                                }
                                ,
                                {
                                    "value": "00.0720",
                                    "text": "Punktion, arteriell, durch den Facharzt (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0720",
                                    "text": "Punktion, arteriell, durch den Facharzt (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0730",
                                    "text": "Punktion in Reservoirsystem (intravenös, intraarteriell, Liquor) durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.1770",
                                    "text": "Homöopathie, Konsultation durch den Facharzt, erste 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1780",
                                    "text": "Homöopathie, Konsultation durch den Facharzt, jede weiteren 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1790",
                                    "text": "Homöopathie, Konsultation durch den Facharzt, letzte 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1800",
                                    "text": "Zuschlag für Repertorisieren, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1810",
                                    "text": "Traditionelle Chinesische Medizin (TCM), Konsultation durch den Facharzt, erste 5 Min."
                                }
                                ,
                                {
                                    "value": "00.2240",
                                    "text": "Formalisierter erster Arztbericht an die {IV}, jede weiteren 10 Min."
                                }
                                ,
                                {
                                    "value": "00.2250",
                                    "text": "Verlangter kleiner Arztbericht an den Versicherer"
                                }
                                ,
                                {
                                    "value": "00.2255",
                                    "text": "Verlangter kleiner Arztbericht an den Versicherer (Bestandteil von Allgemeine Grundleistungen)"
                                }
                                ,
                                {
                                    "value": "00.2260",
                                    "text": "Kopien an den Versicherer, pro Auftrag"
                                }
                                ,
                                {
                                    "value": "00.2265",
                                    "text": "Kopien von grossem Umfang und/oder Kopien von Bildträgern an den Versicherer, pro Auftrag"
                                }
                                ,
                                {
                                    "value": "00.2270",
                                    "text": "Nicht formalisierter, mittlerer Bericht"
                                }
                                ,
                                {
                                    "value": "00.2280",
                                    "text": "Nicht formalisierter, grosser Bericht, erste Seite"
                                }
                                ,
                                {
                                    "value": "00.2285",
                                    "text": "Nicht formalisierter Bericht, 11 bis 35 Zeilen Text"
                                }
                                ,
                                {
                                    "value": "04.1050",
                                    "text": "Débridement bei offener Wundbehandlung, ohne Einbezug komplexer Strukturen, erste 4 {cm2}"
                                }
                                ,
                                {
                                    "value": "04.1050",
                                    "text": "Débridement bei offener Wundbehandlung, ohne Einbezug komplexer Strukturen, erste 4 cm²"
                                }
                                ,
                                {
                                    "value": "04.1060",
                                    "text": "Débridement bei offener Wundbehandlung, ohne Einbezug komplexer Strukturen, jede weiteren 4 {cm2}"
                                }
                                ,
                                {
                                    "value": "04.1070",
                                    "text": "Exploration und Versorgung tiefer Schussverletzung, Stichverletzung, Pfählungsverletzung mit Kanal mehr als 5 cm Tiefe"
                                }
                                ,
                                {
                                    "value": "04.1080",
                                    "text": "Wundversorgung mit Einbezug komplexer Strukturen, Gesicht, Hals, Hand (ohne Nacken, Kopfhaut), erste 3 cm"
                                }
                                ,
                                {
                                    "value": "04.1090",
                                    "text": "Wundversorgung mit Einbezug komplexer Strukturen, Gesicht, Hals, Hand (ohne Nacken, Kopfhaut), jede weiteren 3 cm"
                                }
                                ,
                                {
                                    "value": "05.2150",
                                    "text": "Entfernung einer intrakranial angelegten Elektrode"
                                }
                                ,
                                {
                                    "value": "05.2210",
                                    "text": "Entfernung eines epileptogenen Fokus, oberflächlich, nicht eloquent"
                                }
                                ,
                                {
                                    "value": "05.2220",
                                    "text": "Entfernung eines epileptogenen Fokus, oberflächlich, eloquent"
                                }
                                ,
                                {
                                    "value": "05.2230",
                                    "text": "Entfernung eines epileptogenen Fokus, tief, nicht eloquent"
                                }
                                ,
                                {
                                    "value": "05.2240",
                                    "text": "Entfernung eines epileptogenen Fokus, tief, eloquent"
                                }
                                ,
                                {
                                    "value": "05.2250",
                                    "text": "{VNS} Erst-Implantation, als alleinige Leistung"
                                }
                                ,
                                {
                                    "value": "06.1930",
                                    "text": "Spongiosaplastik im Frakturwirbel (transpedikulär usw.) bei offener Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang"
                                }
                                ,
                                {
                                    "value": "06.1940",
                                    "text": "Duraversorgung bei offener Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang"
                                }
                                ,
                                {
                                    "value": "06.1950",
                                    "text": "Stabilisierung durch dorsales Implantat bei offener Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, Plattensysteme und Stabsysteme"
                                }
                                ,
                                {
                                    "value": "06.1960",
                                    "text": "Stabilisierung durch dorsales Implantat bei offener Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, Cerclage"
                                }
                                ,
                                {
                                    "value": "06.1980",
                                    "text": "Stabilisierung durch dorsales Implantat bei offener Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, Fixateur externe"
                                }
                                ,
                                {
                                    "value": "06.1990",
                                    "text": "Offene Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, C3 bis TH1, bis 2 Segmente"
                                }
                                ,
                                {
                                    "value": "06.2000",
                                    "text": "Offene Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, C3 bis TH1, mehr als 2 Segmente"
                                }
                                ,
                                {
                                    "value": "06.2010",
                                    "text": "Offene Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, thorakal oberhalb TH10, bis 2 Segmente"
                                }
                                ,
                                {
                                    "value": "06.2020",
                                    "text": "Offene Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, thorakal oberhalb TH10, mehr als 2 Segmente"
                                }
                                ,
                                {
                                    "value": "06.2030",
                                    "text": "Offene Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, thorakolumbal/lumbal, bis 2 Segmente"
                                }
                                ,
                                {
                                    "value": "06.2040",
                                    "text": "Offene Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, thorakolumbal/lumbal, mehr als 2 Segmente"
                                }
                                ,
                                {
                                    "value": "06.2050",
                                    "text": "Offene Versorgung einer Wirbelsäulenfraktur/Wirbelsäulenluxation durch dorsalen Zugang, lumbosakral"
                                }
                                ,
                                {
                                    "value": "06.2110",
                                    "text": "Implantatentfernung, dorsal, inkl. Zugang, cervical, bis 3 Segmente, als alleinige Leistung"
                                }
                                ,
                                {
                                    "value": "06.2120",
                                    "text": "Implantatentfernung, dorsal, inkl. Zugang, cervical, mehr als 3 Segmente, als alleinige Leistung"
                                }
                                ,
                                {
                                    "value": "06.2130",
                                    "text": "Implantatentfernung, dorsal, inkl. Zugang, thorakal, lumbal, bis 3 Segmente, als alleinige Leistung"
                                }
                                ,
                                {
                                    "value": "06.2140",
                                    "text": "Implantatentfernung, dorsal, inkl. Zugang, thorakal, lumbal, mehr als 3 Segmente, als alleinige Leistung"
                                }
                                ,
                                {
                                    "value": "06.2150",
                                    "text": "(+) Implantatentfernung, dorsal, bis 3 Segmente, als Zuschlagsleistung"
                                }
                                ,
                                {
                                    "value": "06.2160",
                                    "text": "(+) Implantatentfernung, dorsal, mehr als 3 Segmente, als Zuschlagsleistung"
                                }
                                ,
                                {
                                    "value": "06.2170",
                                    "text": "Operative Entfernung/Batteriewechsel bei periduraler Elektrode/Schmerztherapiesystem, als alleinige Leistung"
                                }
                                ,
                                {
                                    "value": "07.0010",
                                    "text": "Untersuchung durch den Facharzt für Kieferchirurgie"
                                }
                                ,
                                {
                                    "value": "07.0010",
                                    "text": "Untersuchung durch den Facharzt für Kieferchirurgie und Gesichtschirurgie"
                                }
                                ,
                                {
                                    "value": "07.0110",
                                    "text": "Versorgung einer Fraktur im Stirnhöhlenbereich (Os frontale u/o Supraorbitalrand) mittels geschlossener Reposition"
                                }
                                ,
                                {
                                    "value": "00.0740",
                                    "text": "Punktion u/o Injektion in Reservoirsystem (Liquor) durch den Facharzt beim Kind/Jugendlichen bis 16 Jahre"
                                }
                                ,
                                {
                                    "value": "00.0750",
                                    "text": "Injektion/Infusion durch nichtärztliches Personal"
                                }
                                ,
                                {
                                    "value": "00.0760",
                                    "text": "Injektion, intrakutan/intramukös, durch den Facharzt (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0770",
                                    "text": "Injektion, intrakutan/intramukös, durch den Facharzt, beim Kind bis 7 Jahre (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0780",
                                    "text": "Injektion, subkutan (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0790",
                                    "text": "Injektion, intramuskulär (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0800",
                                    "text": "Injektion, intravenös (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0810",
                                    "text": "Injektion, intravenös, beim Kind bis 7 Jahre (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0820",
                                    "text": "Injektion, intraarteriell, durch den Facharzt (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0830",
                                    "text": "Injektion, intrathekal"
                                }
                                ,
                                {
                                    "value": "00.0840",
                                    "text": "Injektion in Reservoirsystem (intravenös, intraarteriell, Liquor) durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.0850",
                                    "text": "Gefässzugang, periphervenös, jeder Zugang, durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.0855",
                                    "text": "Gefässzugang, periphervenös, jeder Zugang, durch nichtärztliches Personal"
                                }
                                ,
                                {
                                    "value": "00.0860",
                                    "text": "Gefässzugang, zentralvenös, jeder Zugang, durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.0870",
                                    "text": "Gefässzugang, periphervenös beim Neugeborenen"
                                }
                                ,
                                {
                                    "value": "00.0880",
                                    "text": "Gefässzugang, Nabelgefäss"
                                }
                                ,
                                {
                                    "value": "00.0890",
                                    "text": "Gefässzugang, Venaesectio durch den Facharzt beim Kind/Jugendlichen älter als 7 Jahre und Erwachsenen"
                                }
                                ,
                                {
                                    "value": "00.0900",
                                    "text": "Gefässzugang, Venaesectio durch den Facharzt beim Kind bis 7 Jahre"
                                }
                                ,
                                {
                                    "value": "00.0910",
                                    "text": "Gefässzugang, Venaesectio durch den Facharzt bei Frühgeborenen und Neugeborenen"
                                }
                                ,
                                {
                                    "value": "00.0920",
                                    "text": "Gefässzugang, peripherarteriell, durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.0930",
                                    "text": "Wechsel einer Infusion, venös, durch den Facharzt (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0940",
                                    "text": "Wechsel einer Infusion, arteriell, durch den Facharzt (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.0950",
                                    "text": "Anlegen einer Infusion ins subkutane Fettgewebe durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.0960",
                                    "text": "Anlegen einer intramedullären Infusion durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.0970",
                                    "text": "Aderlass durch den Facharzt, venös oder arteriell"
                                }
                                ,
                                {
                                    "value": "00.1000",
                                    "text": "Knochenmarkpunktion, jede Lokalisation"
                                }
                                ,
                                {
                                    "value": "00.1010",
                                    "text": "Knochenbiopsie/Knochenentnahme zur histologischen Untersuchung"
                                }
                                ,
                                {
                                    "value": "00.1020",
                                    "text": "Feinnadelpunktion zur Entnahme von Gewebe und anderem Material"
                                }
                                ,
                                {
                                    "value": "00.1110",
                                    "text": "Oberflächenanästhesie mittels Spray/Tropfen: Auge, durch den Facharzt (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.1120",
                                    "text": "Oberflächenanästhesie mittels Spray/Tropfen: Nase, durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.1130",
                                    "text": "Oberflächenanästhesie mittels Spray/Tropfen: Mund u/o Rachen, durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.1140",
                                    "text": "Oberflächenanästhesie mittels Spray/Tropfen: Larynx u/o Hypopharynx, durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.1150",
                                    "text": "Oberflächenanästhesie mittels Spray/Tropfen: Trommelfell, inkl. Gehörgang, durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.1160",
                                    "text": "Oberflächenanästhesie mittels Einlagen, einseitig oder beidseitig, durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.1170",
                                    "text": "Oberflächenanästhesie, Kryoanästhesie, durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.1180",
                                    "text": "Lokalanästhesie mittels Injektion in Haut/Subkutis/Schleimhaut: Gesicht/Hals/Nacken/Hand, bis 20 {cm2}"
                                }
                                ,
                                {
                                    "value": "00.1180",
                                    "text": "Lokalanästhesie mittels Injektion in Haut/Subkutis/Schleimhaut: Gesicht/Hals/Nacken/Hand, bis 20 cm²"
                                }
                                ,
                                {
                                    "value": "00.1190",
                                    "text": "Lokalanästhesie mittels Injektion in Haut/Subkutis/Schleimhaut: übrige Lokalisationen, bis 20 {cm2}"
                                }
                                ,
                                {
                                    "value": "00.1200",
                                    "text": "Lokalanästhesie mittels Injektion in Haut/Subkutis/Schleimhaut: Gesicht/Hals/Nacken/Hand, 20 bis 40 {cm2}"
                                }
                                ,
                                {
                                    "value": "00.1210",
                                    "text": "Lokalanästhesie mittels Injektion in Haut/Subkutis/Schleimhaut: übrigen Lokalisationen, 20 bis 40 {cm2}"
                                }
                                ,
                                {
                                    "value": "00.1220",
                                    "text": "Lokalanästhesie mittels Injektion in Haut/Subkutis/Schleimhaut: Gesicht/Hals/Nacken/Hand, mehr als 40 {cm2}"
                                }
                                ,
                                {
                                    "value": "00.1230",
                                    "text": "Lokalanästhesie mittels Injektion in Haut/Subkutis/Schleimhaut: übrigen Lokalisationen, mehr als 40 {cm2}"
                                }
                                ,
                                {
                                    "value": "00.1240",
                                    "text": "Leitungsanästhesie Finger/Zehen, erster Finger/Zehe"
                                }
                                ,
                                {
                                    "value": "00.1250",
                                    "text": "Leitungsanästhesie Finger/Zehen, jede(r) weitere Finger/Zehe"
                                }
                                ,
                                {
                                    "value": "00.1260",
                                    "text": "Plexusanästhesie/Regionalanästhesie/Endovenösanästhesie durch Nichtanästhesisten (Operateur)"
                                }
                                ,
                                {
                                    "value": "00.1310",
                                    "text": "Durchführung und Überwachung einer Desensibilisierung/Hyposensibilisierung bei Allergie mittels Injektion durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.1320",
                                    "text": "Beurteilung des Knochenmarkausstriches durch den Facharzt für Hämatologie/Onkologie"
                                }
                                ,
                                {
                                    "value": "00.1325",
                                    "text": "Insulintherapie mit Infusionspumpe, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1330",
                                    "text": "Beurteilung des Urinsedimentes durch den Facharzt für Nephrologie"
                                }
                                ,
                                {
                                    "value": "00.1340",
                                    "text": "Wundtoilette/Verbandwechsel durch nichtärztliches Personal"
                                }
                                ,
                                {
                                    "value": "00.1345",
                                    "text": "Wundtoilette/Verbandwechsel durch nichtärztliches Personal, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1350",
                                    "text": "Verbandwechsel durch den Facharzt nach operativem Wundverschluss (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.1360",
                                    "text": "Wundtoilette durch den Facharzt (Bestandteil von 'Allgemeine Grundleistungen')"
                                }
                                ,
                                {
                                    "value": "00.1370",
                                    "text": "Nachbetreuung/Betreuung/Überwachung in der Arztpraxis, pro 15 Min."
                                }
                                ,
                                {
                                    "value": "00.1380",
                                    "text": "Reanimation durch den Facharzt ausserhalb des Schockraums, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1390",
                                    "text": "Leichenschau durch den Facharzt"
                                }
                                ,
                                {
                                    "value": "00.1400",
                                    "text": "Legalinspektion durch den Facharzt, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1410",
                                    "text": "Intraoperatives Warten auf Ergebnis der Schnellschnittuntersuchung"
                                }
                                ,
                                {
                                    "value": "00.1420",
                                    "text": "Zusätzliche ausserordentliche ärztliche Assistenz, pro Min."
                                }
                                ,
                                {
                                    "value": "00.1430",
                                    "text": "Behandlung und Betreuung ambulanter, onkologischer Patienten, erste 15 Min."
                                }
                                ,
                                {
                                    "value": "00.1440",
                                    "text": "Behandlung und Betreuung ambulanter, onkologischer Patienten, jede weiteren 15 Min."
                                }
                                ,
                                {
                                    "value": "00.1510",
                                    "text": "Manualmedizin durch den Facharzt, Diagnostik, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1520",
                                    "text": "Manualmedizin durch den Facharzt, Therapie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1530",
                                    "text": "Behandlung durch den Facharzt für Onkologie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1540",
                                    "text": "Behandlung durch den Facharzt für Hämatologie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1550",
                                    "text": "Behandlung durch den Facharzt für Endokrinologie/Diabetologie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1560",
                                    "text": "Behandlung durch den Facharzt für Nephrologie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1570",
                                    "text": "Behandlung durch den Facharzt für Allergologie und klinische Immunologie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1580",
                                    "text": "Behandlung durch den Facharzt für Rheumatologie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1590",
                                    "text": "Behandlung durch den Facharzt für Physikalische Medizin und Rehabilitation, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1600",
                                    "text": "Behandlung durch den Facharzt für Tropenmedizin, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1610",
                                    "text": "Behandlung durch den Facharzt für Infektiologie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1620",
                                    "text": "Behandlung durch den Facharzt für Angiologie, pro 5 Min."
                                }
                                ,
                                {
                                    "value": "00.1710",
                                    "text": "Akupunktur, Konsultation durch den Facharzt, erste 5 Min."
                                }
                            ]
                        }
                    },

                    _selectedPatientIndex: {
                        type: Number,
                        observer: '_selectedPatientIndexChanged'
                    },

                    _termine: {
                        type: Array,
                        value: function () {
                            return [{
                                'id': 0,
                                'patient': 'Herr Schulz',
                                'grund': 'Hämodialyse',
                                'datum': '18. Dez',
                                'start': '09:00',
                                'ende': '11:00',
                                'erledigt': true,
                                'transactionid': null
                            }, {
                                'id': 1,
                                'patient': 'Herr König',
                                'grund': 'Alkoholtest',
                                'datum': '18. Dez',
                                'start': '11:00',
                                'ende': '12:00',
                                'erledigt': true,
                                'transactionid': null
                            }, {
                                'id': 2,
                                'patient': 'Herr Potz',
                                'grund': 'EKG',
                                'datum': '18. Dez',
                                'start': '14:00',
                                'ende': '16:00',
                                'erledigt': true,
                                'transactionid': null
                            }, {
                                'id': 3,
                                'patient': 'Frau Müller',
                                'grund': 'MRI',
                                'datum': '18. Dez',
                                'start': '09:00',
                                'ende': '12:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 4,
                                'patient': 'Frau Tahlmann',
                                'grund': 'Ultraschall',
                                'datum': '19. Dez',
                                'start': '13:00',
                                'ende': '15:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 5,
                                'patient': 'Herr Schulz',
                                'grund': 'Hämodialyse',
                                'datum': '20. Dez',
                                'start': '10:00',
                                'ende': '12:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 6,
                                'patient': 'Herr Wayne',
                                'grund': 'AZ Verschlech...',
                                'datum': '20. Dez',
                                'start': '13:00',
                                'ende': '14:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 7,
                                'patient': 'Frau Doe',
                                'grund': 'AZ Verschlech...',
                                'datum': '20. Dez',
                                'start': '14:00',
                                'ende': '15:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 8,
                                'patient': 'Frau Frei',
                                'grund': 'EKG',
                                'datum': '20. Dez',
                                'start': '15:00',
                                'ende': '17:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 9,
                                'patient': 'Frau Messerli',
                                'grund': 'Ultraschall',
                                'datum': '21. Dez',
                                'start': '09:00',
                                'ende': '12:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 10,
                                'patient': 'Herr Tanner',
                                'grund': 'Endoskopie',
                                'datum': '21. Dez',
                                'start': '12:00',
                                'ende': '14:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 11,
                                'patient': 'Herr Frisch',
                                'grund': 'Endoskopie',
                                'datum': '21. Dez',
                                'start': '15:00',
                                'ende': '17:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 12,
                                'patient': 'Frau Rauch',
                                'grund': 'Check-Up',
                                'datum': '22. Dez',
                                'start': '10:00',
                                'ende': '12:00',
                                'erledigt': false,
                                'transactionid': null
                            }, {
                                'id': 13,
                                'patient': 'Herr Schulz',
                                'grund': 'Hämodialyse',
                                'datum': '22. Dez',
                                'start': '14:00',
                                'ende': '16:00',
                                'erledigt': false,
                                'transactionid': null
                            }]
                        },
                        notify: true
                    },
                    _currentTermin: {
                        type: Object,
                        value: function () {
                            return {}
                        },
                        notify: true
                    },


                    _dataForRequest: {
                        type: Object,
                        value: function () {
                            return {
                                'klinik': 'KSSG',
                                'arzt': 'Dr. House',
                                'leistungen': []
                            }
                        }
                    },
                    _leistungen: {
                        type: Array,
                        value: function () {
                            return [{}]
                        }
                    },
                    _loading: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                };
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)'
                ];
            }

            _selectedPatientIndexChanged(index) {
                this.set('_currentTermin', this._termine[index]);
            }

            _routePageChanged(page) {
                const fragments = {
                    'kalender': {'path': 'page-kalender.html'},
                    'leistungen': {'path': 'page-leistungen.html'},
                    'patienten': {'path': 'page-patienten.html'},
                    'patient-detail': {'path': 'page-patient-detail.html'},
                    'statistiken': {'path': 'page-statistiken.html'},
                    'view404': {'path': 'page-view404.html'}
                };
                let resolvedPageUrl;
                if (fragments[page]) {
                    resolvedPageUrl = this.resolveUrl(fragments[page].path);
                } else {
                    resolvedPageUrl = 'src/page-view404.html';
                }
                Polymer.importHref(resolvedPageUrl, null, this._showPage404.bind(this), true);
            }

            _showPage404() {
                this.page = 'view404';
            }

            _addLeistung() {
                this.push('_leistungen',
                    {
                        anzahl: 1,
                        code: ""
                    }
                );
            }

            _deleteLeistung(e) {
                if (this._leistungen.length > 1) {
                    this.splice('_leistungen', e.model.__data.index, 1);
                }
            }

            _save() {
                if (this.shadowRoot.querySelector('#leistung-form').validate()) {
                    this._dataForRequest.datum = new Date();
                    this._dataForRequest.patient = this._currentTermin.patient;
                    this._dataForRequest.leistungen = this._leistungen;
                    this.shadowRoot.querySelector('iron-ajax').generateRequest();
                }
            }

            _resetData() {
                this.set("_leistungen", []);
                this._addLeistung();
                this.shadowRoot.querySelector('paper-autocomplete').clear();

            }

            _success(transactionid) {
                this.set('_termine.' + this._currentTermin.id + '.erledigt', true);
                this.set('_termine.' + this._currentTermin.id + '.transactionid', transactionid);

            }

            _handleResponse(response, self) {
                if (response.detail.__data.response.DATA !== null && response.detail.__data.response.DATA !== undefined) {
                    this._success(response.detail.__data.response.DATA.transactionid);
                } else {
                    this._success("no_transactionid");
                }
                this._resetData();
            }

            _hidden(loading) {
                if (loading) {
                    return "";
                }
                return "wegdemit";
            }
        }

        window.customElements.define(MobileLeistungserfassung.is, MobileLeistungserfassung);
    </script>
</dom-module>
