<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/flowbased-polymer/mixin.html">

<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<dom-module id="page-kalender">
    <template>
        <style>
            :host {
                display: block;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                background-color: #fff;
                padding: 24px 0 24px 24px;
            }

            a {
                text-decoration: none;
                color: #025297;
            }

            .card {
                color: #757575;
            }

            .week {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .subheader {
                margin: 0 0 1rem 0;
            }

            .week-navi {
                display: inline-block;
                margin: 0.5rem 1.5rem 0 0;
            }

            .week-navi .heute {
                vertical-align: middle;
                margin: 0 1rem;
            }

            .month {
                width: 50%;
                font-size: 1.5rem;
            }

            .day {
                width: 100%;
                text-align: center;
            }

            .day-1 .time-slot {
                border-left: 0;
            }

            .day__title {
                font-size: 1rem;
                color: rgba(0,0,0,0.87);
                height: 2rem;
                line-height: 2rem;
            }

            .active-date {
                background: rgba(2, 82, 151, 0.18);
            }

            .active-date .day__title {
                font-weight: 500;
            }

            .time-slot,
            .time-slot-2x,
            .time-slot-3x {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0.3rem 0 0 0.5rem;
                border-left: solid 1px rgba(0,0,0,0.12);
                border-top: solid 1px rgba(0,0,0,0.24);
            }

            .time-slot {
                height: 70px;
            }

            .time-slot-2x {
                height: 140px;
            }

            .time-slot-3x {
                height: 210px;
            }

            .termin {
                background: rgba(2, 82, 151, 0.7);
                cursor: pointer;
                border-radius: 4px;
                text-align: left;
                border-left: 8px solid #025297;
                width: 98%;
                line-height: 1.2rem;
            }

            .termin__title {
                font-size: 0.9rem;
                color: #fff;
                font-weight: 500;
            }

            .termin__subtitle {
                font-size: 0.9rem;
                color: rgba(255,255,255, 0.7);
                font-weight: 200;
            }

            .termin.done,
            .termin.saved {
                position: relative;
            }

            .termin.done {
                background: rgba(76, 175, 80, 0.8);
                border-left: 8px solid #4CAF50;
            }

            .termin.done .icon-termin {
                color: #fff;
            }

            .termin.saved {
                background: rgba(76, 175, 80, 0.12);
                border-left: 8px solid rgba(76, 175, 80, 0.38);
            }

            .termin.saved .icon-termin {
                color: #4CAF50;
            }

            .termin.saved .termin__title {
                color: rgba(0,0,0,0.54);
            }

            .termin.saved .termin__subtitle {
                color: rgba(0,0,0,0.32);
            }

            .icon-termin {
                position: absolute;
                bottom: 0.5rem;
                right: 0.5rem;
                display:none;
            }

            .icon-termin.done {
                display: block;
            }

            .times {
                padding: 1.4rem 0.5rem 0 0;
            }

            .hour {
                height: 70px;
                font-size: 0.75rem;
                color: rgba(0,0,0,0.54);
            }

            .icon-color-blue {
                color: #025297;
            }


        </style>

        <div class="week subheader">
            <div class="month">
                Dezember 2017
            </div>
            <div class="week-navi">
                <a class="next-prev" href="#"><iron-icon icon="chevron-left" class="icon-color-blue"></iron-icon></a>
                <a class="heute" href="#">HEUTE</a>
                <a class="next-prev" href="#"><iron-icon icon="chevron-right" class="icon-color-blue"></iron-icon></a>
            </div>
        </div>

            <div class="week">
                <div class="times">
                    <div class="hour">09:00</div>
                    <div class="hour">10:00</div>
                    <div class="hour">11:00</div>
                    <div class="hour">12:00</div>
                    <div class="hour">13:00</div>
                    <div class="hour">14:00</div>
                    <div class="hour">15:00</div>
                    <div class="hour">16:00</div>
                </div>
                <div class="day day-1">
                    <div class="day__title">Mo, 4.</div>
                    <div class="time-slot-2x termin saved" data-id="[[termine.0.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.0.patient]]</div>
                        <div class="termin__subtitle">[[termine.0.grund]]<br/>[[termine.0.start]]</div>
                        <iron-icon class="icon-termin done" icon="done-all"></iron-icon>
                    </div>
                    <div class$="time-slot termin [[_isDone(termine.1.erledigt)]]" data-id="[[termine.1.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.1.patient]]</div>
                        <div class="termin__subtitle">[[termine.1.grund]]<br/>[[termine.1.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.1.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class$="time-slot-2x termin [[_isDone(termine.2.erledigt)]]" data-id="[[termine.2.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.2.patient]]</div>
                        <div class="termin__subtitle">[[termine.2.grund]]<br/>[[termine.2.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.2.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class="time-slot"></div>
                </div>
                <div class="day active-date">
                    <div class="day__title">Di, 5.</div>
                    <div class$="time-slot-3x termin [[_isDone(termine.3.erledigt)]]" data-id="[[termine.3.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.3.patient]]</div>
                        <div class="termin__subtitle">[[termine.3.grund]]<br/>[[termine.3.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.3.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class="time-slot"></div>
                    <div class$="time-slot-2x termin [[_isDone(termine.4.erledigt)]]" data-id="[[termine.4.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.4.patient]]</div>
                        <div class="termin__subtitle">[[termine.4.grund]]<br/>[[termine.4.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.4.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                </div>
                <div class="day">
                    <div class="day__title">Mi, 6.</div>
                    <div class="time-slot"></div>
                    <div class$="time-slot-2x termin [[_isDone(termine.5.erledigt)]]" data-id="[[termine.5.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.5.patient]]</div>
                        <div class="termin__subtitle">[[termine.5.grund]]<br/>[[termine.5.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.5.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class="time-slot"></div>
                    <div class$="time-slot termin [[_isDone(termine.6.erledigt)]]" data-id="[[termine.6.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.6.patient]]</div>
                        <div class="termin__subtitle">[[termine.6.grund]]<br/>[[termine.6.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.6.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class$="time-slot termin [[_isDone(termine.7.erledigt)]]" data-id="[[termine.7.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.7.patient]]</div>
                        <div class="termin__subtitle">[[termine.7.grund]]<br/>[[termine.7.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.7.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class$="time-slot-2x termin [[_isDone(termine.8.erledigt)]]" data-id="[[termine.8.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.8.patient]]</div>
                        <div class="termin__subtitle">[[termine.8.grund]]<br/>[[termine.8.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.8.erledigt)]]" icon="check"></iron-icon>
                    </div>
                </div>
                <div class="day">
                    <div class="day__title">Do, 7.</div>
                    <div class$="time-slot-3x termin [[_isDone(termine.9.erledigt)]]" data-id="[[termine.9.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.9.patient]]</div>
                        <div class="termin__subtitle">[[termine.9.grund]]<br/>[[termine.9.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.9.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class$="time-slot-2x termin [[_isDone(termine.10.erledigt)]]" data-id="[[termine.10.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.10.patient]]</div>
                        <div class="termin__subtitle">[[termine.10.grund]]<br/>[[termine.10.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.10.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class="time-slot"></div>
                    <div class$="time-slot-2x termin [[_isDone(termine.11.erledigt)]]" data-id="[[termine.11.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.11.patient]]</div>
                        <div class="termin__subtitle">[[termine.11.grund]]<br/>[[termine.11.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.11.erledigt)]]" icon="check"></iron-icon>
                    </div>
                </div>
                <div class="day">
                    <div class="day__title">Fr, 8.</div>
                    <div class="time-slot"></div>
                    <div class$="time-slot-2x termin [[_isDone(termine.12.erledigt)]]" data-id="[[termine.12.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.12.patient]]</div>
                        <div class="termin__subtitle">[[termine.12.grund]]<br/>[[termine.12.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.12.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class$="time-slot-2x termin [[_isDone(termine.13.erledigt)]]" data-id="[[termine.13.id]]" @-tap="^^open-dialog(termine)" on-click="_setSelectedPatientIndex">
                        <div class="termin__title">[[termine.13.patient]]</div>
                        <div class="termin__subtitle">[[termine.13.grund]]<br/>[[termine.13.start]]</div>
                        <iron-icon class$="icon-termin [[_isDone(termine.13.erledigt)]]" icon="check"></iron-icon>
                    </div>
                    <div class="time-slot"></div>
                </div>
                <div class="day">
                    <div class="day__title">Sa, 9.</div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                </div>
                <div class="day">
                    <div class="day__title">So, 10.</div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                    <div class="time-slot"></div>
                </div>
            </div>
    </template>

    <script>
        class PageKalender extends FBPMixin(Polymer.Element) {
            static get is() {
                return 'page-kalender';
            }


            static get properties() {
                return {
                    selectedPatientIndex: {
                        type: Number,
                        notify: true
                    },
                    termine: {
                        type: Array
                    }
                };
            }

            _setSelectedPatientIndex(e) {
                if (e.target.dataId !== undefined) {
                    this.selectedPatientIndex=e.target.dataId;
                } else if (e.target.parentElement.dataId !== undefined) {
                    this.selectedPatientIndex=e.target.parentElement.dataId;
                }
            }


            _isDone(erledigt) {
                if (erledigt) {
                    return "done";
                }
                return "";
            }

        }

        window.customElements.define(PageKalender.is, PageKalender);
    </script>
</dom-module>
