<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/flowbased-polymer/mixin.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/app-flow/app-flow.html">

<link rel="import" href="shared-styles.html">

<dom-module id="page-patienten">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .seitenleiste {
                position: absolute;
                background-color: #303030;
                height: 100%;
                width: 23.4%;
                max-width: 240px;
                left: 0;
                top: 56px;
            }

            .fake-searchfield,
            .fake-dropdown {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                color: rgba(255,255,255,0.6);
                background-color: rgba(255,255,255,0.1);
                border-radius: 4px;
                width: 208px;
                height: 56px;
                margin: 16px 0 0 16px;
                font-weight: 300;
            }

            .fake-searchfield {
                padding: 16px 16px 16px 28px;
            }

            .fake-dropdown  {
                position: relative;
                padding: 4px 0 0 16px;
                line-height: 20px;
                color: rgba(255,255,255,0.9);
            }

            .fake-dropdown span {
                font-size: 12px;
                color: rgba(255,255,255,0.6);
            }

            .fake-dropdown iron-icon {
                position: absolute;
                right: 8px;
                bottom: 16px;
                color: #fff;
            }

            .checkbox-item {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 8px 24px;
                color: rgba(255,255,255,0.87);
                font-weight: 300;
                line-height: 24px;
            }

            .checkbox-item span {
                margin-top: 10px;
                vertical-align: text-bottom;
            }

            .first-item {
                margin-top: 16px;
            }

            .sorting {
                position: absolute;
                left: 23.4%;
                top: 56px;
                height: 40px;
                width: 76.6%;
                border-bottom: 1px solid rgba(0,0,0,0.24);
            }

            .sort-dropdown {
                color: rgba(0,0,0,0.54);
                font-size: 0.9rem;
                line-height: 2.6rem;
                margin-left: 1rem;
            }

            .fake-page {
                position: absolute;
                top: 56px;
                left: 0;
                z-index: 10;
            }

            .list {
                position: absolute;
                left: 23.4%;
                top: 96px;
                height: 100px;
                width: 76.6%;
            }

            .list-item {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 14px 0 0 24px;
                height: 88px;
                width: 100%;
                border-bottom: 1px solid rgba(0,0,0,0.24);
            }

            .list-item .title {
                font-size: 16px;
                color: rgba(0,0,0,0.87);
                margin-left: 5px;
            }

            .list-item .person,
            .list-item .adress {
                display: inline-block;
                font-size: 14px;
                color: rgba(0,0,0,0.54);
                margin-top: 0.7rem;
            }  

            .list-item .person {
                width: 18rem;
            }   

            .list-item .person iron-icon,
            .list-item .adress iron-icon{
                color: rgba(0,0,0,0.4);
            }                   

        </style>

<!--        <img class="fake-page" src="../img/Fullpage_Patienten.jpg" @-tap="--to-patient-detail">     -->

        <div class="seitenleiste">
            <div class="fake-searchfield"><iron-icon icon="search"></iron-icon>&nbsp;Patient finden</div>
            <div class="fake-dropdown">
                <span>In Behandlung seit</span><br>
                6 Monaten
                <iron-icon icon="arrow-drop-down"></iron-icon>
            </div>
            <div class="fake-dropdown">
                <span>Altersklasse</span><br>
                30 - 40
                <iron-icon icon="arrow-drop-down"></iron-icon>
            </div>
            <div class="checkbox-item first-item">
                <img src="../img/checkbox.png">&nbsp;
                <span>In Rente</span>
            </div>
            <div class="checkbox-item">
                <img src="../img/checkbox.png">&nbsp;
                <span>Verstorben</span>
            </div>

        </div>

        <div class="sorting">
            <div class="sort-dropdown">Sortiert nach: Name<iron-icon icon="arrow-drop-down"></iron-icon></div>
        </div>

        <div class="list">
            <div class="list-item">
                <div class="title">Danziger, Urs</div>
                <div class="person"><iron-icon icon="social:person"></iron-icon>&nbsp;geb. 11.5.1990, männlich</div>
                <div class="adress"><iron-icon icon="communication:location-on"></iron-icon>&nbsp;Karlsweg 82, 9201 Berg</div>
            </div>
            <div class="list-item" @-tap="--to-patient-detail">
                <div class="title">König, Julia</div>
                <div class="person"><iron-icon icon="social:person"></iron-icon>&nbsp;geb. 13.7.1986, weiblich</div>
                <div class="adress"><iron-icon icon="communication:location-on"></iron-icon>&nbsp;Sonnenhof 8, 8280 Kreuzlingen</div>
            </div>
            <div class="list-item">
                <div class="title">Maier, Max</div>
                <div class="person"><iron-icon icon="social:person"></iron-icon>&nbsp;geb. 25.8.1990, männlich</div>
                <div class="adress"><iron-icon icon="communication:location-on"></iron-icon>&nbsp;Rutenstrasse 12, 8280 Kreuzlingen</div>
            </div>
            <div class="list-item">
                <div class="title">Mustermann, Martina</div>
                <div class="person"><iron-icon icon="social:person"></iron-icon>&nbsp;geb. 15.8.1990, weiblich</div>
                <div class="adress"><iron-icon icon="communication:location-on"></iron-icon>&nbsp;Döbelestr. 8, 6780 Chur</div>
            </div>
            <div class="list-item">
                <div class="title">Müller, Thomas</div>
                <div class="person"><iron-icon icon="social:person"></iron-icon>&nbsp;geb. 9.3.1980, männlich</div>
                <div class="adress"><iron-icon icon="communication:location-on"></iron-icon>&nbsp;Bahnhofstr. 28, 1358 St.Moritz</div>
            </div>
            <div class="list-item">
                <div class="title">Sachsenmaier, Uli</div>
                <div class="person"><iron-icon icon="social:person"></iron-icon>&nbsp;geb. 22.4.1975, männlich</div>
                <div class="adress"><iron-icon icon="communication:location-on"></iron-icon>&nbsp;Am See 14, 8759 Luzern</div>
            </div>
            <div class="list-item">
                <div class="title">Schmidt, Marta</div>
                <div class="person"><iron-icon icon="social:person"></iron-icon>&nbsp;geb. 25.08.1990, weiblich</div>
                <div class="adress"><iron-icon icon="communication:location-on"></iron-icon>&nbsp;Sonnenstr. 88, 7865 Arbon</div>
            </div>  
            <div class="list-item">
                <div class="title">Zachariades, Andreas</div>
                <div class="person"><iron-icon icon="social:person"></iron-icon>&nbsp;geb. 17.02.1968, weiblich</div>
                <div class="adress"><iron-icon icon="communication:location-on"></iron-icon>&nbsp;Meuterute 88, 7865 Arbon</div>
            </div>                                                                                                
        </div>        

        <app-flow event-name="toPatientDetail" ƒ-emit="--to-patient-detail"></app-flow>

    </template>

    <script>
        class PagePatienten extends FBPMixin(Polymer.Element) {
            static get is() {
                return 'page-patienten';
            }
        }

        window.customElements.define(PagePatienten.is, PagePatienten);
    </script>
</dom-module>
