<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/flowbased-polymer/mixin.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="shared-styles.html">

<dom-module id="page-statistiken">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .subheader {
                padding: 1rem 0;
            }

            .date,
            .klinik {
                display: inline-block;
                font-size: 20px;
                color: rgba(0,0,0,0.87);
                line-height: 20px;
            }

            .date {
                margin-left: 2rem;
            }

            .klinik {
                margin-left: 3rem;
            }

            .fakestat-termine {
                margin: 1rem 0 0 1rem;
            }


        </style>

        <div class="subheader">
            <div class="date">01. Jan, 2017 – 02. Dez, 2017<iron-icon icon="arrow-drop-down"></iron-icon></div>
            <div class="klinik">KSSG<iron-icon icon="arrow-drop-down"></iron-icon></div>
        </div>

        <img class="fakestat-termine" src="../img/Statistik_Termine_ohne_Leistungen.png">
        <img class="fakestat-termine" src="../img/Statistik_Tagesumsatz.png">
        <img class="fakestat-termine" src="../img/Statistik_Leistungsvarianten.png">
    </template>

    <script>
        class PageStatistiken extends FBPMixin(Polymer.Element) {
            static get is() {
                return 'page-statistiken';
            }
        }

        window.customElements.define(PageStatistiken.is, PageStatistiken);
    </script>
</dom-module>
