<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/flowbased-polymer/mixin.html">

<link rel="import" href="shared-styles.html">

<dom-module id="page-patient-detail">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

            }

            .fake-page {
                position: absolute;
                top: 56px;
                left: 0;
                z-index: 10;
            }            


        </style>

        <img class="fake-page" src="../img/Fullpage_Patienten_detail.jpg"> 

    </template>

    <script>
        class PagePatientDetail extends FBPMixin(Polymer.Element) {
            static get is() {
                return 'page-patient-detail';
            }
        }

        window.customElements.define(PagePatientDetail.is, PagePatientDetail);
    </script>
</dom-module>
