<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/flowbased-polymer/mixin.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="shared-styles.html">

<dom-module id="page-leistungen">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .seitenleiste {
                position: absolute;
                background-color: #303030;
                height: 100%;
                width: 23.4%;
                max-width: 240px;
                left: 0;
                top: 56px;
            }

            .fake-searchfield,
            .fake-dropdown {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                color: rgba(255,255,255,0.6);
                background-color: rgba(255,255,255,0.1);
                border-radius: 4px;
                width: 208px;
                height: 56px;
                margin: 16px 0 0 16px;
                font-weight: 300;
            }

            .fake-searchfield {
                padding: 16px 16px 16px 28px;
            }

            .fake-dropdown  {
                position: relative;
                padding: 4px 0 0 16px;
                line-height: 20px;
                color: rgba(255,255,255,0.9);
            }

            .fake-dropdown span {
                font-size: 12px;
                color: rgba(255,255,255,0.6);
            }

            .fake-dropdown iron-icon {
                position: absolute;
                right: 8px;
                bottom: 16px;
                color: #fff;
            }

            .checkbox-item {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 8px 24px;
                color: rgba(255,255,255,0.87);
                font-weight: 300;
                line-height: 24px;
            }

            .checkbox-item span {
                margin-top: 10px;
                vertical-align: text-bottom;
            }

            .first-item {
                margin-top: 16px;
            }

            .sorting {
                position: absolute;
                left: 23.4%;
                top: 56px;
                height: 40px;
                width: 76.6%;
                border-bottom: 1px solid rgba(0,0,0,0.24);
            }

            .sort-dropdown {
                color: rgba(0,0,0,0.54);
                font-size: 0.9rem;
                line-height: 2.6rem;
                margin-left: 1rem;
            }

            .fake-page {
                position: absolute;
                top: 56px;
                left: 0;
                z-index: 10;
            }

            .list {
                position: absolute;
                left: 23.4%;
                top: 96px;
                height: 100px;
                width: 76.6%;
            }

            .list-item {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 14px 0 0 24px;
                height: 100px;
                width: 100%;
                border-bottom: 1px solid rgba(0,0,0,0.24);
            }

            .list-item .title {
                font-size: 16px;
                color: rgba(0,0,0,0.87);
            }

            .list-item .subtitle {
                font-size: 14px;
                color: rgba(0,0,0,0.54);
            }


        </style>
<!--        <img class="fake-page" src="../img/Fullpage_Leistungen.jpg"> -->

        <div class="seitenleiste">
            <div class="fake-searchfield"><iron-icon icon="search"></iron-icon>&nbsp;Leistung finden</div>
            <div class="fake-dropdown">
                <span>Zeitraum</span><br>
                Letzte Woche
                <iron-icon icon="arrow-drop-down"></iron-icon>
            </div>
            <div class="fake-dropdown">
                <span>Fachbereich</span><br>
                Neurologie
                <iron-icon icon="arrow-drop-down"></iron-icon>
            </div>
            <div class="checkbox-item first-item">
                <img src="../img/checkbox.png">&nbsp;
                <span>Ambulant</span>
            </div>
            <div class="checkbox-item">
                <img src="../img/checkbox.png">&nbsp;
                <span>Mit Medikamenten</span>
            </div>
            <div class="checkbox-item">
                <img src="../img/checkbox.png">&nbsp;
                <span>Postmortal</span>
            </div>
            <div class="checkbox-item">
                <img src="../img/checkbox.png">&nbsp;
                <span>Fixierte Leistungen</span>
            </div>

        </div>

        <div class="sorting">
            <div class="sort-dropdown">Sortiert nach: Ziffer<iron-icon icon="arrow-drop-down"></iron-icon></div>
        </div>


        <div class="list">
            <div class="list-item">
                <div class="title">00.0010 – Grundkonsultation, 1x</div>
                <div class="subtitle">06. Dez 2017<br>Patientin König, Julia</div>
            </div>
            <div class="list-item">
                <div class="title">00.0020 – Konsultationszuschlag, 2x</div>
                <div class="subtitle">06. Dez 2017<br>Patientin König, Julia</div>
            </div>
            <div class="list-item">
                <div class="title">00.0415 – Kleine Untersuchung durch den Facharzt, 1x</div>
                <div class="subtitle">01. Dez 2017<br>Patient Kaiser, Karl</div>
            </div>
            <div class="list-item">
                <div class="title">00.0141– Aktenstudium in Abwesenheit des Patienten</div>
                <div class="subtitle">11. Nov 2017<br>Patientin Ruch, Marlene</div>
            </div>
            <div class="list-item">
                <div class="title">00.2285 – Nicht formalisierter Bericht, 11 bis 35 Zeilen Text, 2x</div>
                <div class="subtitle">06. Dez 2017<br>Patientin König, Julia</div>
            </div>
            <div class="list-item">
                <div class="title">AL4701.00 – Blutentnahme, 2x</div>
                <div class="subtitle">02. Dez 2017<br>Patient Malta, Mike</div>
            </div>
            <div class="list-item">
                <div class="title">AL3046.00 – Hämorrhagisches Fieber-Viren, 3x</div>
                <div class="subtitle">06. Dez 2017<br>Patientin König, Julia</div>
            </div>
        </div>


    </template>

    <script>
        class PageLeistungen extends FBPMixin(Polymer.Element) {
            static get is() {
                return 'page-leistungen';
            }
        }

        window.customElements.define(PageLeistungen.is, PageLeistungen);
    </script>
</dom-module>
