<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/flowbased-polymer/mixin.html">

<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/app-flow/app-flow.html">


<link rel="import" href="shared-styles.html">

<dom-module id="toolbar-julia">
    <template>
        <style include="shared-styles">
            :host {

                display: flex;
                align-items: center;
                height: 100%;

                font-size: 20px;
                font-weight: 500;
            }

            iron-icon {
                margin-right: 40px;
                margin-left: 8px;
            }

            .navi-head {
                font-weight: 300;
            }

        </style>


        <iron-icon icon="arrow-back" @-tap="--to-patienten"></iron-icon>
        <span class="navi-head">Patientin König, Julia</span>

        <app-flow event-name="toPatienten" ƒ-emit="--to-patienten"></app-flow>
    </template>

    <script>
        class ToolbarJulia extends FBPMixin(Polymer.Element) {
            static get is() {
                return 'toolbar-julia';
            }

            static get properties() {
                return {
                    selected: String,
                }
            }
        }

        window.customElements.define(ToolbarJulia.is, ToolbarJulia);
    </script>
</dom-module>
