<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/flowbased-polymer/mixin.html">

<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/app-flow/app-flow.html">


<link rel="import" href="shared-styles.html">

<dom-module id="toolbar-tabs">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                height: 100%;
                width: 510px;
                margin:auto;

                font-size: 16px;
                font-weight: 300;
            }


            paper-tabs {
                height: 100%;
                margin: auto;
                font-size: 16px;
                font-weight: 300;
            }

            paper-tab {
                margin: 0 0.5rem;
            }


        </style>


        <paper-tabs selected="[[selected]]" attr-for-selected="name">
            <paper-tab name="kalender" @-tap="--to-kalender">KALENDER</paper-tab>
            <paper-tab name="leistungen" @-tap="--to-leistungen">LEISTUNGEN</paper-tab>
            <paper-tab name="patienten" @-tap="--to-patienten">PATIENTEN</paper-tab>
            <paper-tab name="statistiken" @-tap="--to-statistiken">STATISTIKEN</paper-tab>
        </paper-tabs>


        <app-flow event-name="toKalender" ƒ-emit="--to-kalender"></app-flow>
        <app-flow event-name="toLeistungen" ƒ-emit="--to-leistungen"></app-flow>
        <app-flow event-name="toPatienten" ƒ-emit="--to-patienten"></app-flow>
        <app-flow event-name="toStatistiken" ƒ-emit="--to-statistiken"></app-flow>
    </template>

    <script>
        class ToolbarTabs extends FBPMixin(Polymer.Element) {
            static get is() {
                return 'toolbar-tabs';
            }

            static get properties() {
                return {
                    selected: String,
                }
            }
        }

        window.customElements.define(ToolbarTabs.is, ToolbarTabs);
    </script>
</dom-module>
